<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="bottom-nav">
      <div class="bottom-nav-links">
        <a href="{{ base.url | relative_url }}/about">About Tebogo</a>
        <a href="mailto:dime@tema.com">dime.tema@gmail.com</a>
      </div>
    </div>

    <div class="footer-col-wrapper">

        {%- if site.copyright -%}
        <p>&copy; {{ site.copyright }} {{ 'now' | date: "%Y" }}</p>
        {%-endif -%}

    </div>

  </div>

</footer>
