<header class="site-header" role="banner">

  <div class="wrapper">
    
    <div class="navbar">
      <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    
      <div class="nav-icons">
        <a href="https://www.linkedin.com/in/tebogo-tema-3695aa1aa/" target="_blank"><ion-icon name="logo-linkedin"></ion-icon></a>
        <a href="https://www.github.com/feelthedimez" target="_blank"><ion-icon name="logo-github"></ion-icon></a>
      </div>

    </div>


  </div>
</header>
