<header class="site-header" role="banner">

  <div class="wrapper">
    
    <div class="navbar">
      <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    
      <!-- I have to use dynamic tags from the yml file -->
      <div class="nav-icons">
        <!-- <a href="mailto:dime.tema@gmail.com"><ion-icon name="mail-outline"></ion-icon></a>
        <a href="https://www.behance.net/tebogotema1" target="_blank"><ion-icon name="logo-behance"></ion-icon></a> -->
        <a href="https://www.instagram.com/feelthedimez/" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a>
        <a href="https://www.github.com/feelthedimez" target="_blank"><ion-icon name="logo-github"></ion-icon></a>
        <!-- <a href="https://github.com/{{ site.github_username| cgi_escape | escape }}" target="_blank"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg></a>
        <a href="https://www.linkedin.com/in/tebogo-tema-3695aa1aa/" target="_blank"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use></svg></a>
        <a href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}" target="_blank"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg></a> -->
      </div>

    </div>


  </div>
</header>
