<div class="timeline">
    <div class="timeline-container primary">
        <div class="timeline-icon">
            <i class=""></i>
        </div>
        <div class="timeline-body">
            <h4 class="timeline-title"><span class="badge">Primary</span></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p>
            <p class="timeline-subtitle">1 Hours Ago</p>
        </div>
    </div>

    <div class="timeline-container primary">
        <div class="timeline-icon">
            <i class=""></i>
        </div>
        <div class="timeline-body">
            <h4 class="timeline-title"><span class="badge">Primary</span></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p>
            <p class="timeline-subtitle">1 Hours Ago</p>
        </div>
    </div>   

    <div class="timeline-container primary">
        <div class="timeline-icon">
            <i class=""></i>
        </div>
        <div class="timeline-body">
            <h4 class="timeline-title"><span class="badge">Primary</span></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p>
            <p class="timeline-subtitle">1 Hours Ago</p>
        </div>
    </div>   

    <div class="timeline-container primary">
        <div class="timeline-icon">
            <i class=""></i>
        </div>
        <div class="timeline-body">
            <h4 class="timeline-title"><span class="badge">Primary</span></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p>
            <p class="timeline-subtitle">1 Hours Ago</p>
        </div>
    </div>   

</div>